 /* Sidebar styles */
 .sidebar {
  height: 100vh;
  background-color: #343a40;
  padding-top: 20px;
  transition: all 0.3s;
  position: fixed;
  width: 300px;
}

.sidebar a {
  color: white;
  display: block;
  padding: 15px;
  text-decoration: none;
  border-radius: 0.25rem;
}

.sidebar a:hover {
  background-color: #495057;
  text-decoration: none;
}

/* Content styles */
.content {
  padding: 20px;
  transition: all 0.3s;
  margin-left: 300px;
}

.table th, .table td {
  vertical-align: middle;
}

.modal img {
  width: 100%;
  height: auto;
}
.card{
  margin-left: 20px;
}

.admin-title{
  margin-left: 20px;
}
